<app-card card-title="Combo Bar/Line Graph" title-tooltip="stupendous!" [h]="40">
    <div class="h-100">
      <combo-chart-component
        [results]="barChart"
        [lineChart]="lineChartSeries"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
      >
      </combo-chart-component>
    </div>
  </app-card>