<app-card card-title="Line Chart" title-tooltip="awesome!" [h]="40">
    <div class="h-100">
        <ngx-charts-line-chart
        [scheme]="colorScheme"
        [results]="single"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        (select)="onSelect($event)"
        >
      </ngx-charts-line-chart>
    </div>
  </app-card>

  <app-datatable [data]="single"></app-datatable>